.question{
    position: absolute;
    top: 25px;
    right:25px;
    font-size: 12px;
    color: #9A9A9A;
}

.create-account{
    height: 20px;
    width: 65px;
    border: 1px solid black;
    position: absolute;
    top: 50px;
    right:25px;


    font-size: 12px;
    font-weight: bold;
    color: #33A0C9;
}

.create-account::after{
    display:block;
    content: '';
    border-bottom: solid 2px #33A0C9;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.create-account:hover::after{
    transform: scaleX(1);
}